
<h2>Créditos</h2>
<ul class="listado-fotos">
	<li>
		<h3>Profesor</h3>
		<figure>
			<img src="/images/juanquemada.jpg" alt="Juan Quemada" />
			<figcaption><%= profesor %></figcaption>
		</figure>
	</li>
	<li>
		<h3>Alumno</h3>
		<figure>
			<img src="/images/davidmerino.jpg" alt="Juan Quemada" />
			<figcaption><%= alumno %></figcaption>
		</figure>
	</li>
</ul>