<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>¡El portal donde podrá crear sus propios juegos!</p>
    <a href="/quizes/question">Comienze a jugar</a>
  </body>
</html>
