body {
	background-color 	: #333;
	font-size 			: xx-large;
}

#page-wrap:after {
	content : "Smartphone Layout";
	color 	: white;
}

header span,
section h3 {
	display : none;
}

footer,
input {
	font-size : large;
}

.nophone {
	display : none;
}