* {
	margin 	: 0;
	padding : 0;
}

body {
  font 	: 16px Georgia, serif;
}

a {
  color : #00B7FF;
}

legend {
	margin 		: 0 0 1em 0;
	font-weight : bold;
	font-family : Helvetica, Arial, serif;
	font-size 	: 1.1em;
	width       : 100%;
}

ul.listado-fotos {
	margin-top 		: 1em;
	margin-bottom 	: 1em;
	list-style-type : none;
	display 		: flex;
	flex-direction 	: row;
	justify-content : center;
}

.listado-fotos li {
	margin : .5em;
}

.listado-fotos figure {
	border 		: 1px Solid #ccc;
	padding 	: 3px;
	margin-top 	: .5em;
	box-shadow 	: 0 2px 4px rgba(0, 0, 0, .7);
}

.listado-fotos figcaption {
	font-size 	: 11px;
	font-family : Arial, sans-serif;
}

#page-wrap {
	margin 	: 2% auto;
	color 	: white;
}

#page-wrap > .main {
	border 			: 1px Solid #999;
	padding 		: 1%;
	margin-bottom 	: 1px;
	color 			: black;
}

#page-wrap::after {
	content : "Desktop Layout";
	margin 	: 0.5em 1em;
	display : block;
	color 	: black;
}

section > div {
	padding : 20px;
}

header,
nav,
section,
footer {
	background : #eee;
	text-align : center;
}

nav span:first-child {
	margin 	: 0 10px 0 0;
}

footer a {
	display : block;
}

fieldset {
	border 	: none;
	margin 	: .25em 0 1em 0;
}

#buscador label {
	float : right;
}

input, button, option {
	padding : 0.5em;
}

ul.preguntas {
	list-style-type : none;
	margin-bottom 	: 1em;
}

ul.preguntas li {
	line-height : 1.5;
}

#errorsmsg ul {
	list-style-type : none;
	color         	: red;
}

.enlinea {
	display : inline;
}

.categoria {
	font-size 			: x-small;
	display 			: inline-block;
	padding 			: .5em;
	background-color 	: #cbe8f0;
	border 				: 1px solid #88a;
	margin-right 		: .5em;
}