* {
	margin 	: 0;
	padding : 0;
}

body {
  font 	: 16px Georgia, serif;
}

a {
  color : #00B7FF;
}

legend {
	margin 		: 0 0 1em 0;
	font-weight : bold;
	font-family : Helvetica, Arial, serif;
	font-size 	: 1.1em;
}

#page-wrap {
	margin 	: 2% auto;
	color 	: white;
}

#page-wrap > .main {
	border 			: 1px Solid #999;
	padding 		: 1%;
	margin-bottom 	: 1px;
	color 			: black;
}

#page-wrap::after {
	content : "Desktop Layout";
	margin 	: 0.5em 1em;
	display : block;
	color 	: black;
}

section > div {
	padding : 20px;
}

header,
nav,
section,
footer {
	background : #eee;
	text-align : center;
}

nav span:first-child {
	margin 	: 0 10px 0 0;
}

footer a {
	display : block;
}