	<fieldset>
		<legend>Añadir pregunta:</legend>
		<div><label for="newpreg"><span class="nophone">Pregunta: </span><input id="newpreg" name="quiz[pregunta]" type="text" placeholder="pregunta" value="<%= quiz.pregunta %>" /></label></div>
		<div><label for="newresp"><span class="nophone">Respuesta: </span><input id="newresp" name="quiz[respuesta]" type="text" placeholder="respuesta" value="<%= quiz.respuesta %>" /></label></div>
	</fieldset>
	<a href="/quizes"><button type="button">Cancelar</button></a><input type="submit" value="Salvar" />
