
			<form action="/quizes" method="GET" id="buscador">
				<fieldset>
					<label for="idbuscador">
						<span class="nophone">Buscar una pregunta: </span>
						<input type="text" name="search" placeholder="texto de la pregunta" id="idbuscador" />
						<input type="submit" value="Buscar" />
					</label>
				</fieldset>
			</form>
<% include _indexlist.ejs %>
			<a href="quizes/new"><button type="button">Crear pregunta</button></a>
