
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		<legend>Pregunta: <%= quiz.pregunta %></legend>
		<label for="question">Respuesta:
			<input id="question" name="respuesta" type="text" placeholder="Responda aquí" />
			<input type="submit" value="Enviar" />
		</label>
	</form>
	<section id="lista-comentarios">
		<h3>Comentarios</h3>
		<article class="comentario">
			<% for (var comment in quiz.Comments) { %>
			<div>
				<%= quiz.Comments[comment].texto %>
			</div>
			<% } %>
		</article>
		<a href="/quizes/<%= quiz.id %>/comments/new">
			<button type="text">Agregar comentario</button>
		</a>
	</section>