<form action="/login" method="post" class="loginform">
	<fieldset>
		<legend>Login de usuario:</legend>
		<label for="loguser">Usuario <input id="loguser" type="text" name="user" autofocus="autofocus" /></label>
		<label for="logpass">Contraseña <input id="logpass" type="password" name="pwd" /></label>
		<a href="<%= lastpage %>"><button type="button">Cancelar</button></a>
		<input type="submit" value="Ok" />
	</fieldset>
</form>